@page "{id:int}"
@model CoronaVirusApp.Pages.Patient.DetailsModel
@{
    ViewData["Title"] = "Details";
}

<h1>Details for: @Model.Patient.FirstName @Model.Patient.LastName</h1>
<div>
    Id: @Model.Patient.Id
</div>
<div>
    Patient Name: @Model.Patient.FirstName @Model.Patient.LastName
</div>
<div>
    City and Age: @Model.Patient.City , @Model.Patient.Age
</div>
<div>
    Gender : @Model.Patient.Gender
</div>
<div>
    Doctor name: @Model.Patient.Doctor.FirstName @Model.Patient.Doctor.LastName
</div>

<a asp-page="./List" class="btn btn-primary">Back</a>

