@page "{id:int}"
@model CoronaVirusApp.Pages.Patient.DetailsModel
@{
    ViewData["Title"] = "Details";
}

<h1>Details for: @Model.Patient.FirstName @Model.Patient.LastName</h1>
<div>
    Id: @Model.Patient.Id
</div>
<div>
    Patient Name: @Model.Patient.FirstName @Model.Patient.LastName
</div>
<div>
    City and Age: @Model.Patient.City , @Model.Patient.Age
</div>
<div>
    Gender : @Model.Patient.Gender
</div>
<div>
    Appointment no: @Model.Patient.Appointment.Id
</div>
<div>
    Tested for Corona Virus: @Model.Patient.IsTested
</div>
<div>
    For self isolation: @Model.Patient.IsForSelfIsolation
</div>
<div>
    Corona Virus test positive: @Model.Patient.IsCoronaPositive
</div>
<div>
    Recovered: @Model.Patient.IsRecovered
</div>
<div>
    Death: @Model.Patient.IsDead
</div>

<a asp-page="./List" class="btn btn-primary">Back</a>

