@page "{id:int?}"
@model CoronaVirusApp.Pages.Patient.EditModel
@{
    ViewData["Title"] = "Edit";
}

@if (Model.Patient.Id == 0)
{
    <h1>Add new patient</h1>
}
else
{
    <h1>Edit patient: @Model.Patient.FirstName @Model.Patient.LastName</h1>
}

<form method="post">
    <input type="hidden" asp-for="Patient.Id" />
    <div class="form-row">
        <div class="form-group col-sm-4">
            <label asp-for="Patient.FirstName"></label>
            <input class="form-control" asp-for="Patient.FirstName" />
            <span class="text-danger" asp-validation-for="Patient.FirstName"></span>
        </div>
        <div class="form-group col-sm-4">
            <label asp-for="Patient.LastName"></label>
            <input class="form-control" asp-for="Patient.LastName" />
            <span class="text-danger" asp-validation-for="Patient.LastName"></span>
        </div>
        <div class="form-group col-sm-4">
            <label asp-for="Patient.Age"></label>
            <input class="form-control" asp-for="Patient.Age" />
            <span class="text-danger" asp-validation-for="Patient.Age"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-sm-4">
            <label asp-for="Patient.City"></label>
            <input class="form-control" asp-for="Patient.City" />
            <span class="text-danger" asp-validation-for="Patient.City"></span>
        </div>
        <div class="form-group col-sm-4">
            <label asp-for="Patient.Gender"></label>
            <select class="form-control" asp-for="Patient.Gender" asp-items="@Model.Gender">
                <option value="">select gender</option>
            </select>
            <span class="text-danger" asp-validation-for="Patient.Gender"></span>
        </div>
        <div class="form-group col-sm-4">
            <label asp-for="Patient.Appointment.Doctor"></label>
            <input class="form-control" asp-for="Patient.Appointment.Doctor" />
            <span class="text-danger" asp-validation-for="Patient.Appointment.Doctor"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-sm-6">
            <label asp-for="Patient.Diseases"></label>
            <select class="form-control" asp-for="Patient.Diseases" asp-items="@Model.Diseases">
                <option value="">select disease</option>
            </select>
            <span class="text-danger" asp-validation-for="Patient.Diseases"></span>
        </div>
        <div class="form-group col-sm-6">
            <label asp-for="Patient.MedicalHistory"></label>
            <select class="form-control" asp-for="Patient.MedicalHistory" asp-items="@Model.MedicalHistory">
                <option value="">select med history</option>
            </select>
            <span class="text-danger" asp-validation-for="Patient.MedicalHistory"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-sm-4">

            <label asp-for="Patient.IsTested"></label>
            <input class="form-control" asp-for="Patient.IsTested" />
            <span class="text-danger" asp-validation-for="Patient.IsTested"></span>
        </div>
        <div class="form-group col-sm-4">
            <label asp-for="Patient.IsForSelfIsolation"></label>
            <input class="form-control" asp-for="Patient.IsForSelfIsolation" />
            <span class="text-danger" asp-validation-for="Patient.IsForSelfIsolation"></span>
        </div>
        <div class="form-group col-sm-4">
            <label asp-for="Patient.IsCoronaPositive"></label>
            <input class="form-control" asp-for="Patient.IsCoronaPositive" />
            <span class="text-danger" asp-validation-for="Patient.IsCoronaPositive"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-sm-6">
            <label asp-for="Patient.IsRecovered"></label>
            <input class="form-control" asp-for="Patient.IsRecovered" />
            <span class="text-danger" asp-validation-for="Patient.IsRecovered"></span>
        </div>
        <div class="form-group col-sm-6">
            <label asp-for="Patient.IsDead"></label>
            <input class="form-control" asp-for="Patient.IsDead" />
            <span class="text-danger" asp-validation-for="Patient.IsDead"></span>
        </div>
    </div>
    <button type="submit" class="btn btn-success">Save</button>
    <a asp-page="./List" class="btn btn-primary">Back</a>
</form>
