@page
@model CoronaVirusApp.Pages.Doctor.ListModel
@{
    ViewData["Title"] = "List";
}

<h1>Doctors</h1>
<div>
    <form method="get">
        <div class="form-group">
            <div class="input-group">
                <input type="search" class="form-control" placeholder="search" asp-for="FirstName">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
    </form>
    @if (!string.IsNullOrEmpty(Model.TempMessage))
    {
        <div class="alert alert-warning">@Model.TempMessage</div>
    }
    <div class="table-responsive">
        <table class="table table-bordered table-primary table-sm">
            <thead class="thead-light">
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Age</th>
                    <th>JobTitle</th>       
                    <th>Gender</th>
                    <th></th>
                </tr>
            </thead>
            @foreach (var doctor in Model.Doctors)
            {
                <tr>
                    <td>@doctor.FirstName</td>
                    <td>@doctor.LastName</td>
                    <td>@doctor.Age</td>
                    <td>@doctor.Gender</td>
                    <td>@doctor.JobTitle</td>                                        
                    <td>
                        <a class="btn btn-outline-secondary" asp-page="./Edit" asp-route-id="@doctor.Id">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a class="btn btn-outline-secondary" asp-page="./Details" asp-route-id="@doctor.Id">
                            <i class="fas fa-search-plus"></i>
                        </a>
                        <a class="btn btn-outline-secondary" asp-page="./Delete" asp-route-id="@doctor.Id">
                            <i class="fas fa-trash"></i>
                        </a>
                    </td>
                </tr>
            }
            <tfoot style="visibility:@(!Model.Doctors.Any() ? "visible" : "hidden")">
                <tr>
                    <td colspan="3">
                        No doctors!
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
<div class="form-group">
    <a class="btn btn-primary" asp-page="./Edit">Add doctor!</a>
</div>