@page
@model CoronaVirusApp.Pages.Appointment.ListModel
@{
    ViewData["Title"] = "List";
}

<h1>Appointments</h1>
<div>
    <form method="get">
        <div class="form-group">
            <div class="input-group">
                <input type="search" class="form-control" placeholder="search" asp-for="SearchName">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
    </form>
    @if (!string.IsNullOrEmpty(Model.TempMessage))
    {
        <div class="alert alert-warning">@Model.TempMessage</div>
    }
    <div class="table-responsive">
        <table class="table table-bordered table-primary table-sm">
            <thead class="thead-light">
                <tr>
                    <th>Clinic</th>
                    <th>Name</th>
                    <th>Cause</th>
                    <th>Testing Date</th>
                    <th>Test Result</th>
                    <th>Diagnosis</th>
                    <th>Treatment</th>
                    <th></th>
                </tr>
            </thead>
            @foreach (var appointment in Model.Appointments)
            {
                <tr>
                    <td>@appointment.Clinic.Name</td>
                    <td>@appointment.NameofAppointment</td>
                    <td>@appointment.Cause</td>
                    <td>@appointment.TestingDate</td>
                    <td>@appointment.IsCoronaPositive</td>
                    <td>@appointment.Diagnosis</td>
                    <td>@appointment.Treatment</td>
                    <td>
                        <a class="btn btn-outline-secondary" asp-page="./Edit" asp-route-id="@appointment.Id">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a class="btn btn-outline-secondary" asp-page="./Details" asp-route-id="@appointment.Id">
                            <i class="fas fa-search-plus"></i>
                        </a>
                        <a class="btn btn-outline-secondary" asp-page="./Delete" asp-route-id="@appointment.Id">
                            <i class="fas fa-trash"></i>
                        </a>
                    </td>
                </tr>
            }
            <tfoot style="visibility:@(!Model.Appointments.Any() ? "visible" : "hidden")">
                <tr>
                    <td colspan="3">
                        No appointments!
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
<div class="form-group">
    <a class="btn btn-primary" asp-page="./Edit">Add Appointment</a>
</div>