@page
@model CoronaVirusApp.Pages.Appointment.ListModel
@{
    ViewData["Title"] = "List";
}

<h1>Appointments</h1>
<div>    
    @if (!string.IsNullOrEmpty(Model.TempMessage))
    {
        <div class="alert alert-warning">@Model.TempMessage</div>
    }
    <div class="table-responsive">
        <table class="table table-bordered table-primary table-sm">
            <thead class="thead-light">
                <tr>
                    <th>Patient</th>
                    <th>Date</th>
                    <th>Symptom</th>
                    <th>Medical History</th>
                    <th></th>
                </tr>
            </thead>
            @foreach (var appointment in Model.Appointments)
            {
        <tr>
            <td>@appointment.Patient?.FirstName @appointment.Patient?.LastName</td>
            <td>@appointment.Date</td>
            <td>@appointment.Symptom</td>
            <td>@appointment.HasMedicalHistory</td>
            <td>
                <a class="btn btn-outline-secondary" asp-page="./Edit" asp-route-id="@appointment.Id">
                    <i class="fas fa-edit"></i>
                </a>
                <a class="btn btn-outline-secondary" asp-page="./Details" asp-route-id="@appointment.Id">
                    <i class="fas fa-search-plus"></i>
                </a>
                <a class="btn btn-outline-secondary" asp-page="./Delete" asp-route-id="@appointment.Id">
                    <i class="fas fa-trash"></i>
                </a>
            </td>
        </tr>
            }
            <tfoot style="visibility:@(!Model.Appointments.Any() ? "visible" : "hidden")">
                <tr>
                    <td colspan="3">
                        No appointments!
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
<div class="form-group">
    <a class="btn btn-primary" asp-page="./Edit">Add Appointment</a>
</div>